* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1000px;
    margin: 0 auto;
}

body div {
    padding: 0 100px;
}

.navbar, .footer, .hero {
    background-color: #1F2937;
}

.navbar {
    padding: 10px 0;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.tiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tile {
    height: 200px;
    width: 200px;
}

.tile img {
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.cta, .signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.cta {
    display: flex;
}

.signup-button {
    padding: 5px 30px;
    border: 3px solid #F9FAF8;
    border-radius: 8px;
    text-decoration: none;
}

.quote-block {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-weight: 600;
    font-style: normal;
}

.footer {
    text-align: center;
    color: #F9FAF8;
    padding: 10px 0;
}