* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.navbar, .footer, .hero {
    background-color: #1F2937;
}

.navbar {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.tiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}

.tile {
    border: 2px solid lightgray;
    height: 150px;
}

.cta, .signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.signup-button {
    padding: 15px 20px;
    border: 3px solid #F9FAF8;
    border-radius: 3px;
}

.quote-block {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
